<p><%= render :partial => split_cat_scope( 'homepage', HOMEPAGE_EXPERIMENT,  @split_cat_token,  @hypothesis ) %></p>

<p>Logged in: <%= !!cookies[ :login ] %> </p>
<p>Token: <%= @split_cat_token %></p>


