<h1>SplitDummy</h1>

<h2>Split test data</h2>
<ul>
  <li>Token: <%= @split_cat_token  %></li>
  <li>Homepage hypothesis: <%= @homepage_hypothesis %></li>
  <li>Ad hypothesis: <%= @ad_hypothesis %></li>
</ul>


