<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><a href="/">/</a></li>
  <li><a href="/rails/info">/rails/info</a></li>
  <li><a href="/split_cat">/split_cat</a></li>
  <li><a href="/token">/token</a></li>
  <li><a href="/goals">/goals</a></li>
</ul>

<%= yield %>

</body>
</html>
